* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-16 {
    font-size: 16px;
}


header {
    background-color: #1A0B2E;
    padding: 16px 200px;
}

nav {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav .logo {
    color: white;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;
    /* text-align: center; */
}

p {
    font-size: 16px;
}

.menu ul {
    display: flex;
    gap: 20px;    
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.subscribe-btn button {
    border-radius: 1000px;
    color: white;
    padding: 16px;
}

.gradient-color {
    background: #F7E93F;
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}

.hamburger {
    display: none;
}

.hero-background {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative; 
}

.hero-circle {
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    width: auto;  
    height: 500px;  
    display: flex;              
    align-items: center;
    justify-content: center;
}

.hero-circle img {
    max-width: 100%;
    max-height: 100%;
    /* margin-bottom: 50px; */
}

.microphone {
    position: absolute;
    width: auto;   
    height: 200px;
}

.text-container { 
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    text-align: center; 
}

.text-container h1 {
    font-size: 60px;
}

.text-container p {
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.btn-container button{
    display: flex;
    border-radius: 1000px;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}

.listen {
    color: white;
}

.transparent-btn {
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
}

.btn-container button img {
    margin-right: 5px;
}

.about {
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
    color: white;
    text-align: center;
}

.cart-container h1 {    
    color: #00FF88;
    font-size: 48px;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    margin-top: 80px;    
}

.techwave {
    background-color: #230E3D;
    padding: 120px 200px;
    color: white;
}

.card-grid {
    display: grid;
    justify-items: center;
    justify-content: center;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card-grid img {
    margin:10px;
}

.feature-card {
    align-items: center;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    width: 100%;
}

.card-2-row {
    grid-row: span 2;

}

.card-2-col {
    grid-column: span 2;
}


.vid-section {
    background-color: #1A0B2E;
    color: white;
    padding: 120px 200px;

}

.vid-section h1 {
    text-align: center;
    margin-bottom: 50px;
}

.feature-video {
    display: flex;
    gap:10px;
    flex-wrap: wrap; 
    justify-content: center;
}

.card-container {
    width: 380px;
    height: 480px;
    /* padding: 0px; */
    border-radius: 10px;
    background-color: #250D44;
}

.video-container iframe {
    width: 100%;
    border-radius: 10px;
}

.text-container-3 {
    padding: 10px;
}

.arrenge {
    margin-top: 10px;
    display: flex;
    color: #00FF88;
}

.arrenge img {
    margin-right: 5px;
}

.last-section {
    background-color: #1A0B2E;
    color: white;
    padding: 120px 200px;
}

.alex {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    align-items: center;    
    margin-top: 40px;
    background-color: #250D44;
    padding: 40px;
}

.icon-container {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.icon-container div {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #533C72;
}



footer {
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;   
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* .footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.img-text{
    display: flex;
    gap: 10px;
    color: white;
}
.footer-midddle-content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.copy-right{
    color: white;
    text-align: center;
}
.footer-heading {
  background: linear-gradient(90deg, rgba(247,233,63,1) 0%, rgba(251,9,180,1) 50%, rgba(145,0,248,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.footer-title{
    color: white;
}

/* responsib style */

/* mobile responsib style */
@media (max-width: 576px) {
    header {
        background-color: #1A0B2E;
        padding: 16px 20px;
    }   
    nav {
        display: flex;
        justify-content: space-between;        
    }

    .menu {
        display:none;
    }
    .subscribe-btn {
        display: none;
    }

    .hamburger {
        display:flex;
    }

    .hero-background {
        background-image: url(../assets/hero-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        padding: 10px;
        position: relative; 
    }

    .hero-circle {
        position: absolute; 
        top: 35%; 
        left: 50%; 
        transform: translate(-50%, -50%);  
        width: auto;  
        height: 500px;  
        display: flex;              
        align-items: center;
        justify-content: center;
    }

    .hero-circle img {
        max-width: 100%;
        max-height: 100%;
        /* margin-bottom: 50px; */
    }

    .microphone {
        position: absolute;
        width: auto;   
        height: 80px;
    }

    .text-container { 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translateX(-50%);
        color: white;
        text-align: center; 
    }

    .text-container h1 {
        font-size: 40px;
    }

    .text-container p {
        margin-bottom: 10px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 5px;
        
    }

    .btn-container button{
        display: flex;
        border-radius: 1000px;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
    }

    .about {
        background-color: #1A0B2E;
        padding: 20px;
        color: white;
        text-align: center;
    } 
    
    .techwave {
        background-color: #230E3D;
        padding: 20px;
        color: white;
    }

    .card-grid {
        display: grid;
        justify-items: center;
        justify-content: center;
        gap:10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-card {
        align-items: center;
        background-color: #351165;
        padding: 40px;
        border-radius: 40px;
        width: 100%;
    }

    .card-2-row {
        grid-row: span 1;

    }

    .card-2-col {
        grid-column: span 1;
    }

    .techwave h2 {
        margin-bottom: 10px;
    }

    .vid-section {
        background-color: #1A0B2E;
        color: white;
        padding: 20px;

    }

    .last-section {
        background-color: #1A0B2E;
        color: white;
        padding: 20px;
    }

    footer {
        background-image: url(../assets/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;   
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 20px; 
    }




    
    

}