* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-16 {
    font-size: 16px;
}

header {
    background-color: #1A0B2E;
    padding: 16px 200px;
}

nav {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: white;
}

.menu ul {
    display: flex;
    gap: 20px;    
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.subscribe-btn button {
    border-radius: 1000px;
    padding: 16px;
}