* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-16 {
    font-size: 16px;
}


header {
    background-color: #1A0B2E;
    padding: 16px 200px;
}

nav {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav .logo {
    color: white;
}

.menu ul {
    display: flex;
    gap: 20px;    
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.subscribe-btn button {
    border-radius: 1000px;
    padding: 16px;
}

.hero-background {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative; 
}

.hero-circle {
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    width: auto;  
    height: 500px;  
    display: flex;              
    align-items: center;
    justify-content: center;
}

.hero-circle img {
    max-width: 100%;
    max-height: 100%;
    /* margin-bottom: 50px; */
}

.microphone {
    position: absolute;
    width: auto;   
    height: 200px;
}

.text-container { 
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    text-align: center; 
}

.text-container h1 {
    font-size: 60px;
}

.text-container p {
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    
}

.btn-container button{
    border-radius: 1000px;
    padding: 12px 20px; 

}

.about {
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
    color: white;
    text-align: center;
}

.cart-container h1 {    
    color: #00FF88;
    font-size: 48px;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    margin-top: 80px;    
}

.techwave {
    background-color: #230E3D;
    padding: 120px 200px;
    color: white;
}

.techwave h1 {
    margin: 40px;
}

.card-grid {
    display: grid;
    justify-items: center;
    justify-content: center;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card-grid img {
    margin:10px;
}

.feature-card {
    align-items: center;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.card-2-row {
    grid-row: span 2;

}

.card-2-col {
    grid-column: span 2;
}